<section class="containers forms">
  <div class = "form login">
    <div class="form-content">
      <header>Resend confirmation instructions</header>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field input-field">
            <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class="actions field button-field">
            <%= f.submit "Resend", class: "button-color" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</section>