<%= render "property_form_steps/shared/progress_bar" %>
<div class="container card w-50 p-5 my-3 border">
  <h3 class="text-center">Upload Images</h3>
  <%= render "property_form_steps/shared/error_message" %>
  <div class="form-control-solid">
    <%= form_with model: @property, url: wizard_path, method: :patch do |form| %>
      <% 4.times do %>
        <%= form.file_field :images, multiple: true %><br/>
      <% end %><br/>
      <%= form.submit "continue", class: "btn btn-primary" %>
      <%= link_to "Previous", previous_wizard_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
