<div class="row d-flex justify-content-center">
  <div >
    <ul id="progressbar" class="text-center">
      <li class="<%= @progress > 0 ? 'active step0' : 'step0' %>">Property Type</li>
      <li class="<%= @progress > 1 ? 'active step0' : 'step0' %>">Facility</li>
      <li class="<%= @progress > 2 ? 'active step0' : 'step0' %>">About Place</li>
      <li class="<%= @progress > 3 ? 'active step0' : 'step0' %>">Address Of Place</li>
      <li class="<%= @progress > 4 ? 'active step0' : 'step0' %>">Place Image</li>
      <li class="<%= @progress > 5 ? 'active step0' : 'step0' %>">Make Best Price For Place</li>
    </ul>
  </div>
</div>
